.background-side{
    background-image: url(../../Images/bg.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 180px;
    margin-left: 396px; */
    width: 778px;
    height: 485px;
    border: 2px solid darkblue;
}
.contact-info h2{
    text-align: center;
    font-size: 20px;
}
.contact-second{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-info{
    border: 2px solid black;
}
.contact-input{
    background-color: #292e3f;
    text-align: left;
    padding-left: 33px;
}
.contact-input h3{
    color: #4dc8a8;
    /* margin-bottom: 20px; */
    padding-top: 44px;
    padding-bottom: 20px;
    text-align: left;
}
.contact-input button{
    background-color: #53dab2;
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 12px; */
    width: 234px;
    height: 42px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 36px;
}
.contact-input input{
    background-color: #494d5c;
    width: 234px;
    height: 42px;
    border-radius: 5px;
}
